<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <div class="container">
      <%- include("../partials/header", {search: true, currentPage: "search"})
      %>
      <h1 class="display-4 text-center my-3">Search facts</h1>

      <div class="row <%=typeof filteredPosts !== 'undefined' && filteredPosts.length < 1 ? 'align-items-center' : '' %>">
        <div class="col-lg-<%= typeof filteredPosts === 'undefined' ? '12' : '4' %>">
          <form
            class="form m-auto my-4 d-flex gap-3 justify-content-between"
            name="searchForm"
            method="POST"
            action="/search/title"
          >
            <div class="w-100">
              <input
                required
                name="searchKeyword"
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Search By Title"
              />
            </div>
            <button class="btn btn-danger">SEARCH Feeds</button>
          </form>
          <form
            class="form m-auto my-4 d-flex gap-3"
            name="categoryForm"
            method="POST"
            ,
            action="/search/category"
          >
            <select
              class="form-select"
              aria-label="Default select example"
              name="categorySelect"
            >
              <option selected disabled>Choose a Category</option>
              <% categories.forEach(category => { %>
              <option value="<%= category%>"><%= category %></option>
              <% }); %>
            </select>
            <button class="btn btn-primary">GO</button>
          </form>
        </div>
        <div class="col-lg-6">
          <% if(typeof filteredPosts !== "undefined" && filteredPosts.length > 0) { %> 
          <%-
          include("../partials/posts.ejs",{posts: filteredPosts}) %> 
          <% } else if(typeof filteredPosts !== "undefined" && filteredPosts.length < 1) { %>
            <h6 class="display-6 text-lg-start text-center">Could not find anything!</h6>
            <% } %>
        </div>
      </div>
    </div>
    <%- include("../partials/footer") %>
  </body>
</html>